// mobile view
.vive-petition-screen {
  margin-bottom: 0;
  padding: 0 1rem;
  section.petition-form-container {
    .petition-content-container {
      h1 {
        font-size: 2rem;
        color: var(--primary);
        margin: 0 auto 30px;
        line-height: 2rem;
      }
      .petition-content-1 {
        margin-bottom: 3rem;
      }
      .petition-content-2 {
        h2 {
          font-size: 2rem;
          color: var(--primary);
          margin: 30px auto;
          line-height: 2rem;
        }
        margin-bottom: 5rem;
      }
      .petition-video {
        .youtube-video iframe {
          height: 15rem;
        }
      }
    }
    .petition-gg-form {
      .gg-iframe {
        height: 75rem;
      }
      .featured-comment {
        h2 {
          font-size: 2rem;
          color: var(--primary);
          margin: 30px auto;
          line-height: 2rem;
        }
        margin-bottom: 5rem;
      }
    }
  }
}

// tablet view (ipad mini + ipad air)
@media only screen and (min-width: 768px) {
  .vive-petition-screen {
    margin-bottom: 0;
    padding: 0 2rem;
    section.petition-form-container {
      .petition-gg-form {
        .signature-count {
          padding-left: 2rem;
          width: 645px;
        }
        .gg-iframe {
          height: 60rem;
          iframe {
            width: 680px;
          }
        }
        .featured-comment {
          width: 650px;
          padding-left: 2rem;
        }
      }
      .petition-content-container {
        padding: 0 1rem;
        .petition-video {
          .youtube-video iframe {
            height: 25rem;
          }
        }
      }
    }
  }
}

// ipad pro view
@media only screen and (min-width: 1024px) {
  .vive-petition-screen {
    section.petition-form-container {
      display: flex;
      flex-direction: row-reverse;
      .petition-content-container {
        .petition-video {
          .youtube-video iframe {
            width: 100%;
            height: 15rem;
          }
        }
      }
      .petition-gg-form {
        .signature-count {
          padding-left: 4.5rem;
          width: 520px;
        }
        .gg-iframe {
          height: 65rem;
          padding-left: 3rem;
          iframe {
            width: 500px;
          }
        }
        .featured-comment {
          width: 480px;
          margin-left: 2.5rem;
        }
      }
    }
  }
}

// pc view
@media only screen and (min-width: 1200px) {
  .vive-petition-screen {
    padding: 0 2rem;
    section.petition-form-container {
      display: flex;
      flex-direction: row-reverse;
      gap: 0;
      .petition-gg-form {
        .featured-comment {
          margin-left: 2rem;
        }
      }
      .petition-content-container {
        .petition-video {
          .youtube-video iframe {
            width: 100%;
            height: 20rem;
          }
        }
      }
    }
  }
}
