// mobile view
.vive-petition-screen {
  margin-bottom: 0;
  padding: 0 1rem;
  section.petition-form-container {
    .petition-content-container {
      h1 {
        font-size: 2rem;
        color: var(--primary);
        margin: 0 auto 30px;
        line-height: 2rem;
      }
      .petition-content-1 {
        margin-bottom: 3rem;
      }
      .petition-content-2 {
        h2 {
          font-size: 2rem;
          color: var(--primary);
          margin: 30px auto;
          line-height: 2rem;
        }
        margin-bottom: 5rem;
      }
      .petition-video {
        .youtube-video iframe {
          height: 15rem;
        }
      }
    }
    .petition-gg-form {
      .signature-count {
        // padding: 0 0.5rem;
      }
      .gg-iframe {
        height: 75rem;
      }
      .featured-comment {
        h2 {
          font-size: 2rem;
          color: var(--primary);
          margin: 30px auto;
          line-height: 2rem;
        }
        margin-bottom: 5rem;
      }
    }
  }
}

// tablet view (ipad mini + ipad air)
@media only screen and (min-width: 768px) {
  .vive-petition-screen {
    margin-bottom: 0;
    padding: 0 2rem;
    section.petition-form-container {
      .petition-gg-form {
        .signature-count {
          padding: 0 2.5rem;
        }
        .gg-iframe {
          height: 60rem;
        }
        .featured-comment {
          padding: 0 2.5rem;
        }
      }
      .petition-content-container {
        padding: 0 1rem;
        .petition-video {
          .youtube-video iframe {
            height: 25rem;
          }
        }
      }
    }
  }
}

// ipad pro view
@media only screen and (min-width: 1024px) {
  .vive-petition-screen {
    margin-bottom: 0;
    padding: 0 2rem;
    section.petition-form-container {
      display: flex;
      flex-direction: row-reverse;
      gap: 3rem;
      .petition-content-container {
        width: 40%;
        .petition-video {
          .youtube-video iframe {
            width: 100%;
            height: 15rem;
          }
        }
      }
      .petition-gg-form {
        flex: 1;
        .signature-count {
          padding: 0 2rem;
        }
        .gg-iframe {
          height: 65rem;
        }
        .featured-comment {
          padding: 0 2rem;
        }
      }
    }
  }
}

// pc view
@media only screen and (min-width: 1200px) {
  .vive-petition-screen {
    padding: 0 2rem;
    section.petition-form-container {
      display: flex;
      flex-direction: row-reverse;
      .petition-content-container {
        width: 40%;
        .petition-video {
          .youtube-video iframe {
            width: 100%;
          }
        }
      }
      .petition-gg-form {
        flex: 1;
        .signature-count {
          padding: 0 4rem;
        }
        .gg-iframe {
          height: 60rem;
        }
        .featured-comment {
          padding: 0 4rem;
        }
      }
    }
  }
}
