:root {
  --primary: #17775d; // 118e62
  --secondary: #03c480;
  --light: #f5f5f5;
  --dark: #676b68;
  --darkest: #2d302d;
  --primary-100: #e8f6f0;
  --danger: #ff4d4f;
  --primary-200: #f2fcf9;
  --neutral: #bdc1be;
}
